{% extends 'base.html' %}

{% block title %}
    {{ image_group.title|capfirst }} - Image group 
{% endblock title %}

{% block leftbar %}
<div class="col-md-3">
    {% include 'partials/_leftbar.html' %}
</div>
{% endblock leftbar %}

{% block content %}
<div class="col-md-8 mt-2">
    <a class="btn btn-sm btn-outline-info mb-4" type="button" href="{% url 'imageuploader:image_group_list_url' %}">Image Groups List</a>
    <a class="btn btn-sm btn-outline-info mb-4" type="button" href="{% url 'imageuploader:image_group_create_url' %}">Create Image Groups</a>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{image_group.title|capfirst}}</h5>
            <p class="card-text">{{ image_group.description }}</p>
            <a class="btn btn-sm btn-outline-info mb-4" type="button" href="{% url 'imageuploader:image_group_create_url' %}">Add Multiple Images</a>
        </div>
    </div>
</div>
{% endblock content %}
