{% extends 'base.html' %}

{% block title %}
    Single image detail
{% endblock title %}

{% block leftbar %}
<div class="col-md-3">
    {% include 'partials/_leftbar.html' %}
</div>
{% endblock leftbar %}

{% block content %}
<div class="col-md-9 mt-2">
    <a href="{% url 'imageuploader:single_image_list_url' %}" class="btn btn-sm btn-outline-info mb-2 mx-2" type="button">Single images list</a>
    <img src="{{ image.get_imageurl }}" alt="" class="img-fluid mx-2 my-2">
</div>
{% endblock content %}