{% extends 'base.html' %}

{% block title %}
    Image groups
{% endblock title %}

{% block leftbar %}
<div class="col-md-3">
    {% include 'partials/_leftbar.html' %}
</div>
{% endblock leftbar %}

{% block content %}
<div class="col-md-8 mt-2">
    <a class="btn btn-sm btn-outline-info mb-4" type="button" href="{% url 'imageuploader:image_group_create_url' %}">Create Image Groups</a>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Manage</th>
            </tr>
        </thead>
        {% for grp in image_groups %}
            <tbody>
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="{% url 'imageuploader:image_group_detail_url' grp.id %}" >{{grp.title}} </a>
                </td>
                <td>{{grp.description}}</td>
                <td>
                    <a class="btn btn-sm btn-outline-info" type="button" href="{% url 'imageuploader:image_group_update_url' grp.id %}" >Edit</a>
                    <a class="btn btn-sm btn-outline-success" type="button" href="{% url 'imageuploader:image_group_detail_url' grp.id %}" >Add Multiple Images</a>
                    <a class="btn btn-sm btn-outline-danger" type="button" href="{% url 'imageuploader:image_group_detail_url' grp.id %}" >Delete</a>
                    
                </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endblock content %}
