{% extends 'base.html' %}
{% load static %}

{% block title %}
    Orig Images List
{% endblock title %}

{% block leftbar %}
<div class="col-md-3">
    {% include 'partials/_leftbar.html' %}
</div>
{% endblock leftbar %}

{% block content %}
<div class="col-md-8 mt-2">
    <div>
    {% for image in images_qs %}
    <div class="card mx-4 mb-5">
        <h4 class="card-title px-2 py-2">Original Image: {{ image.get_filename|capfirst }} </h4>
        <img src="{{ image.get_imageurl }}" class="card-img-top" alt="..." />
        <div class="card-footer">
            <a href="{% url 'croppedimages:crop_orig_image_url' image.id %}" class="btn btn-sm btn-outline-success mx-1 my-1">Crop Image</a>
        </div>
    </div>
    {% endfor %}
    </div>
    {% include 'partials/_paginator.html' %}
</div>
{% endblock content %}
